/* common */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #011d4c;
}

h1, .h1 {
    margin-top: 60px;
    font-size: 3rem;
    font-weight: 700;
}
h2, .h2 {
    font-size: 2.75rem;
    font-weight: 700;
}
h3, .h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3em;
    color: #011d4c;
}
h5, .h5 {
    font-size: 1.6rem;
    font-weight: 700; 
}
p {
    font-size: 1.2rem;
    color: #65738f
}

/* colors */
.color_white {
    color: #fff;
}
.color_lightblue {
    color: #579aff;
} 
.color_blue {
    color: #006aff;
} 
.color_medblue {
    color: #00229d;
}
.color_darkblue {
    color: #011d4c;
}

/* buttons */
.my_btn {
    color: #006aff;
    background-color: #fff;
    border: 1px solid #006aff;
    transition: .3s;
}

/* section title*/
.section_title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 75px;
}
.section_title p {
    font-size: 1.7rem;
}

/* slider */
.my_slider {
    padding: 0 60px;
}
.my_slider img {
    margin-bottom: 15px;
    width: 100%;
}
.my_slider figcaption {
    font-size: 1.3rem;
    font-weight: 500;
}
.my_slider p {
    font-size: 1.7rem;
}
.my_slider span {
    font-size: 1.2rem;
    font-weight: 500;
}
.my_slider a {
    font-size: 1.2rem;
    font-weight: 700;
}

.my_slider .arrow_box {
    padding: 0;
    vertical-align: middle;
}

.my_slider .arrow_box i {
    font-size: 5rem;
    color: #6f7b97;
    cursor: pointer;    
    transition: .3s;
}
.my_slider .arrow_box i:hover,
.my_slider .arrow_box i:active {
    color: #011d4c;
}

/* slider selector */
.my_slider_selector {
    margin-top: 60px;
}
.my_slider_selector li {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 1px;
    border: 1px solid #006aff;
    border-radius: 50%;
    cursor: pointer;
}
.my_slider_selector li:first-child {
    background-color: #006aff;
    border: 1px solid #006aff;
}
.my_slider_selector li:hover{
    background-color: #579aff;
}

/* header */
/* navbar */
#my_header_navbar {
    margin: 0;
    min-height: 70px;
    background-color: #fff;
    border: none;
}
#my_header_navbar .navbar-toggle {
    position: absolute;
    margin-top: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
}
#my_header_navbar .navbar-toggle .icon-bar {
    width: 18px;
    background-color: #006aff;
}

#my_header_navbar .navbar-nav > .open > a,
#my_header_navbar .navbar-nav > .open > a:focus,
#my_header_navbar .navbar-nav > .open > a:hover {
    background-color: transparent;
}

#my_header_navbar .navbar-nav > li > a {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    font-size: 1.75rem;  
    color: #011d4c;
}
#my_header_navbar .navbar-nav > li > a:not(.btn) {
    padding-top: 15px;
    padding-bottom: 15px;
}
#my_header_navbar .navbar-nav > li > a:not(.btn):hover {
    color: #006aff;
}
#my_header_navbar .navbar-nav > li > a.btn {
    margin-left: 10px;
    color: #006aff;
}
#my_header_navbar .navbar-nav > li > a.btn:hover {
    color: #fff;
    background-color: #006aff;
    border: 2px solid #006aff;
}
#my_header_navbar .navbar-nav > li > a > i {
    vertical-align: text-bottom;
}

#my_logo_box {
    position: relative;
}
#my_logo_box .navbar-brand {
    height: 70px;
    line-height: 70px;
}
#my_logo_box img {
    position: absolute;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

/* hero/jumbotron */
.my_hero {
    background: url("../img/bg-banner-home.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
}

.my_hero .hero_right {
    margin-bottom: 50px; 
    padding: 10px 15px 30px;
    border-radius: 5px;
    background-color: #fff;    
}
.my_hero p {
    font-size: 1.7rem;    
    color: #fff;
    opacity: 0.8;
}
.my_hero span a {
    text-decoration: underline;    
}

.my_hero form {
    margin-bottom: 15px;
}
.my_hero form input {
    font-size: 1.6rem;
    color: #65738f;
}
.my_hero .form-control {
    padding: 18px 12px;
    border: 1px solid rgba(0,0,0,.075);
    box-shadow: none;
}
.my_hero .btn {
    height: 30px;    
    border: none;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
}
#btn_new_account {
    color: #fff;
    background-color: #579aff;
}
#btn_google_signup {
    color: #65738f;
    background: url(../img/google-icon.png) no-repeat;
    background-position: 3%;
    background-size: 6%;
    box-shadow: 1px 1px 2px rgba(0,0,0,.175);
}
#btn_google_signup img {
    height: 100%;
}

/* partners section */
.partners {
    padding-bottom: 15px;
    background-color: #f3f5f9;
}
.partners h4 {
    padding: 30px 0 15px;
    font-size: 1.3rem;
    color: #65738f;
}
.partners a {
    display: block;
    font-size: 1.3rem;
}

.partner_logo_box {
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.partner_logo_box img {
    width: 90%;
    max-height: 100px;
}

/* deployment section */
.deployment {
    padding-bottom: 45px;
}

.deployment_steps {
    padding-left: 0;
    margin-bottom: 30px;
    border-left: 1px solid #65738f;
    list-style: none;
}

.deployment_steps li {
    padding: 7px 10px;
    font-size: 1.7rem;
    color: #65738f;
}

.deployment_item img {
    display: block;
    height: 35px;
    margin-bottom: 15px;
}

/* gallery section */
.my_gallery {
    padding-bottom: 45px;
    background-color: #f3f5f9;
}

.my_gallery h2 {
    margin-top: 30px;
}

.my_gallery .my_slider {
    padding-top: 60px;
}

/* features section */
.features {
    padding-bottom: 45px;
}
.features .section_title {
    margin-bottom: 30px;
}
.features_item {
    margin-bottom: 30px;
}
.features_item img{
    height: 35px;
    margin-bottom: 10px;
}
.features_item a {
    font-size: 1.3rem;
    font-weight: 500;
}

/* regions section */
.regions {
    padding-top: 15px;
    padding-bottom: 45px;
    background-color: #00229d;    
}
.regions .section_title {
    margin-bottom: 0px;
}
.regions .section_title h2 {
    margin-bottom: 0px;
}

.regions_group {
    padding-top: 10px;
    padding-bottom: 30px;
}

.region_item {
    margin: 0;
    padding: 10px 0;    
    font-size: 1.2rem;
    font-weight: 500;
}
.region_item:not(:last-child) {
    border-bottom: 1px solid #fff;
}
.region_item .code span {
    text-transform: uppercase;
}
.region_item .city {
    opacity: 0.7;
}
.region_item .speedtest {
    text-align: right;
}
.region_item .speedtest a {
    font-weight: 700;
    color: #00c5cd;
}

/* testimonials section */
.testimonials {
    padding-bottom: 60px;
    background-color: #f3f5f9;
}

.testimonial_box {
    padding: 30px 5px;
    border-radius: 10px;
    background-color: #fff;
}

.testimonial_box img {
    max-width: 300px;
}

.testimonial_box span,
.testimonial_box a {
    display: block;
}

.testimonial_box a {
    margin-top: 30px;
}
.my_slider span.testimonial_name {
    font-weight: 700;
}

.testimonials .my_slider_selector {
    margin-top: 30px;
}


/* media queries */
/* tablet */
@media (min-width: 768px) {

    body {
        font-size: 1.2rem;
    }
    h1, .h1 {
        margin-top: 0px;
        font-size: 3.75rem;
    }    
    h2, .h2 {
        font-size: 3.5rem;
    }
    h3, .h3 {
        font-size: 3rem;
    }
    h5, .h5 {
        font-size: 2rem;
    }
    p {
        font-size: 2.3rem;
    }

    .section_title p {
        font-size: 2.3rem;
    }

    /* navbar */
    #my_logo_box img { 
        height: 35px;       
        margin-right: 60px;
    }

    /* hero */
    #hero_left_box {
    position: relative;
    height: 505px;
    } 
    
    .my_hero .hero_left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .my_hero .hero_right {
        margin-top: 60px; 
    }

    /* partners section */
    .partners {
        padding-bottom: 30px;
    }
    .partners h4 {
        padding-bottom: 0;
        font-size: 1.75rem;
    }
    .partners a {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .partner_logo_box {
        padding: 0 5px;
    }

    /* deployment section */
    .deployment_steps li {
        padding: 10px;
        font-size: 2rem;
    }

    .deployment_item {
        height: 252px;
    }
    .deployment_item img {
        height: 40px;
    }
    .deployment_item h5 {
        padding: 5px 0;
    }
    .deployment_item p {
        font-size: 1.7rem;
        line-height: 1.25;
    }

    /* gallery section*/
    .my_gallery {
        padding-bottom: 60px;
    }
    .my_gallery .section_title h2 {
        margin-bottom: 30px;
    }

    .my_gallery .my_slider {
        padding-top: 90px;
    }
    .my_gallery .my_slider .img_box,
    .my_gallery .my_slider .arrow_box {
        height: 300px;    
    }
    .my_gallery .my_slider .arrow_box {
        line-height: 300px;
    }
    .my_gallery .my_slider figcaption {
        font-size: 1.7rem;
    }

    /* features section */
    .features .section_title h2 {
        margin-bottom: 60px;
    }
    
    .features a {
        font-size: 1.6rem;
    }

    .features_item img {
        height: 40px;
    }

    .features_item p {
        font-size: 1.7rem;
        line-height: 1.25;
    }

    /* testimonials section */ 
    .testimonials .my_slider {
        padding-top: 30px;
    }
    .testimonials .my_slider p {
        font-size: 2.4rem;
    }
    .testimonial_box {
        height: 370px;
    }
    .testimonial_box span,
    .testimonial_box a {
        font-size: 1.75rem;
    }

    .testimonials .my_slider .arrow_box {
        line-height: 370px;
    }

}
/* tablet landscape  */
@media (min-width: 992px) {

    /* slider */
    .my_gallery .my_slider {
        padding-top: 0px;
    } 
    .my_slider .img_box,
    .my_slider .arrow_box {
        height: 400px;    
    }
    .my_slider .arrow_box {
        line-height: 400px;
    }

    .my_gallery .my_slider .my_slider_selector {
        margin-top: 0px;
    }
    .my_gallery .my_slider .my_slider_selector li {
        height: 13px;
        width: 13px;
    }    

    /* regions */
    .regions .section_title h2 {
        font-size: 2.9rem;
    }

    /* testimonials */    
    .testimonial_box {
        height: 400px;
    }
    .testimonial_box img {
        padding: 60px 0 15px;
    }

    .testimonials .my_slider .arrow_box {
        line-height: 400px;
    }

}
/* desktop  */
@media (min-width: 1200px) {

    h1, .h1 {
        font-size: 6.5rem;
        font-weight: 700;
    }

    h2, .h2 {
        font-size: 4rem;
    }

    p {
        font-size: 2.4rem;
    }

    /* section title */
    .section_title p {
        font-size: 2.3rem;
    }

    /* navbar */
    #my_logo_box img { 
        display: inline-block;
        position: static;       
        margin-right: 60px;
    }

    #my_header_navbar {
        line-height: 70.5px;
    }

    /* hero */
    .my_hero .form-control {
        padding: 22px 12px;
    }
    .my_hero .btn {
        height: 36px;
        margin-bottom: 10px;
        font-size: 1.6rem;
    }

    /* partners section */
    .partners {
        padding-top: 15px;
        padding-bottom: 45px;
    }
    .partners h4 {
        padding-bottom: 30px;
    }
    .partners a {
        margin-top: 30px;
    }

    .partner_logo_box img {
        width: 100%;
    }
    .partner_logo_box {
        height: 140px;
        line-height: 140px;
    }

    /* deployment section */
    .deployment_item {
        height: 200px;
    }    

    /* gallery section */
    
    /* slider */
    .my_gallery .my_slider .img_box,
    .my_gallery .my_slider .arrow_box {
        height: 475px;    
    }
    .my_gallery .my_slider .arrow_box {
        line-height: 475px;
    }
    .my_gallery .my_slider .my_slider_selector {
        padding-top: 15px;
    }

    /* regions */
    .regions .section_title h2 {
        font-size: 3.5rem;
    }

}

/* nav collapse below 1199px */
@media (max-width: 1199px) {
    
    .navbar-header {
    float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

}